<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema GLF</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
    <!-- Hero FullHeight -->
    <section class="hero is-blue is-fullheight">
        <!-- Barra de Navegação -->
        <div class="hero-head">
            <header class="navbar py-5">
                <div class="container">
                    <!-- Nome do Projeto -->
                    <div class="navbar-brand">
                        <h1 class="navbar-item">
                            Faturamento Grupo Liderforte
                        </h1>
                        <span class="navbar-burger" data-target="navbarMenu">
                            <span></span>
                            <span></span>
                            <span></span>
                        </span>
                    </div>
                    <!-- Menu -->
                    <div id="navbarMenu" class="navbar-menu">
                        <div class="navbar-end">
                            <div class="navbar-item">
                                Ainda não é nosso cliente?
                            </div>
                            <span class="navbar-item">
                                <a href="" class="button is-blue is-inverted">
                                    Consulte nossos preços
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </header>
        </div>

        <!-- Caixa de Login -->
        <div class="hero-body">
            <div class="container">
                <div class="wrapper">
                    <div class="card">
                        <div class="card-image">
                            <figure class="logo is-4by3">
                                <img src="/images/logo.svg" alt="Grupo Liderforte">
                            </figure>
                        </div>
                        <div class="card-content">
                            <a href=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>