<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>

    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/stylesheets/bulma.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>

    <!-- main -->
    <section id="main">
        <div class="login-container">
            <div class="wrapper">

                <!-- logo -->
                <figure>
                    <img src="/images/logo.svg" class="logo" alt="Grupo Liderforte">
                </figure>

                <!-- form -->
                <form action="/auth" class="login-form">
                    <span class="form-title has-text-centered">
                        Login
                    </span>

                    <!-- login -->
                    <div class="field">
                        <span class="label-input">E-mail</span>
                        <p class="control has-icons-left">
                            <input class="input" name="email" type="email" placeholder="Digite seu e-mail" required>
                            <span class="icon is-small is-left">
                                <i class='bx bx-user'></i>
                            </span>
                        </p>
                    </div>

                    <!-- senha -->
                    <div class="field">
                        <span class="label-input">Senha</span>
                        <p class="control has-icons-left">
                            <input class="input" name="password" type="password" placeholder="Digite sua senha"
                                required>
                            <span class="icon is-small is-left">
                                <i class='bx bx-lock-alt'></i>
                            </span>
                        </p>
                    </div>

                    <!-- botoes -->
                    <span class="btn-field">
                        <button type="submit" class="button is-primary is-fullwidth py-5">Entrar</button>
                    </span>
                </form>

                <!-- redirect -->
                <div class="container mt-5">
                    <ul class="vendas has-text-centered">
                        <li>
                            Não possui sua conta?
                        </li>
                        <li>
                            &sdot;
                        </li>
                        <li>
                            <a href="/sales">
                                Fale com vendas
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</body>

</html>