* {
	padding: 0;
	cursor: default;
	box-sizing: border-box;
}

*::-webkit-scrollbar{
    display: none;
}

#main {
	width: 100%;
	margin: 0 auto;
}

.login-container {
	width: 100%;
	min-height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding: 15px;
	background: linear-gradient(to bottom, #303c7a, #1c2550);
}

.wrapper {
	width: 600px;
	background: #ffffff;
	border-top: 5px solid #c4a56e;
	border-bottom: 5px solid #c4a56e;
	border-radius: 10px;
	overflow: hidden;
	padding-top: 65px;
	padding-bottom: 35px;
	padding-left: 15px;
	padding-right: 15px;
}

@media screen and (min-width: 961px) {
	.wrapper{
		width: 400px;
	}
}

.login-form {
	width: 100%;
}

img.logo {
	display: block;
	width: 50%;
	margin: 0 auto;
	padding-bottom: 50px;
}

.form-title {
	display: block;
	font-family: 'Poppins', sans-serif;
	font-weight: bold;
	font-size: 42px;
	color: #303c7a;
	line-height: 1.2;
	padding-bottom: 50px;
}

.field {
	width: 100%;
	border-bottom: 2px solid #d9d9d9;
	margin-bottom: 25px;
}

.input {
	position: relative;
	background: transparent;
	height: 55px;
	border: 0;
	outline: 0;
}

.input::placeholder {
	color: rgba(48, 60, 122, 0.5);
}

.input:focus,
.input:active {
	box-shadow: none;
}

.label-input {
	font-family: 'Poppins', sans-serif;
	font-size: 14px;
	color: #303c7a;
	line-height: 1.5;
	padding-left: 7px;
}

.icon {
	margin: 7px 0 7px 0;
}

.bx {
	font-size: 22px;
	transition: all .4s;
}

.bx:focus,
.bx:active {
	font-weight: bold;
	color: #c4a56e;
}

.btn-field {
	display: block;
	margin-top: 50px;
}

.button {
	font-weight: 600;
	font-family: 'Poppins', sans-serif;
}
.button.is-primary {
	background-color: #303c7a;
}

.button.is-primary:hover{
	background-color: #f0f0f0;
	color: #303c7a;
	border: solid 1px #303c7a;
}

.vendas li {
	color: #999;
	text-align: center;
	display: inline;
	font-size: 12px;
	text-transform: uppercase;
}

.vendas li a {
	color: #999;
}
